# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Asus\IdeaProjects\GeometricFigures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

resources/
# Intellij
.idea
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/